<br>
@Author: Ayush Prajapati<br>
@Date: 13-09-2024<br>
@Last Modified by: Ayush Prajapati<br>
@Last Modified time: 13-09-2024<br>
@Title: S3 CRUD operations using Boto3 Library on SQL Server (AWS RDS)<br>

In [1]:
import boto3
from dotenv import load_dotenv
from io import StringIO
import pandas as pd
import pyodbc
import os

In [2]:
load_dotenv()

True

## Configuring boto3 with s3

**Create a boto3 client**

In [3]:
s3 = boto3.client('s3')

**List all buckets**

In [4]:
response = s3.list_buckets()

# Output bucket names
for bucket in response['Buckets']:
    print(bucket['Name'])

ayush-dataset-rds

## Operations

In [5]:
def upload_csv_file_to_s3(bucket_name, file_name, s3_key):
    """
    Description:
        Upload a CSV file to an S3 bucket in AWS
    Parameters:
        bucket_name = name of bucket
        file_name = local file name (path)
        s3_key = name of the file in S3
    Returns:
        None
    """
    try:
        s3.upload_file(
            file_name, 
            bucket_name, 
            s3_key, 
            ExtraArgs={'ContentType': 'text/csv'}
        )
        print(f"File {file_name} uploaded successfully to {bucket_name}/{s3_key} as CSV.")
    except Exception as e:
        print(f"Error uploading file: {e}")

In [6]:
def main():
    bucket_name = 'ayush-dataset-rds'
    csv_file_name = 'worldometer_data.csv'
    s3_key = 'csv/worldometer_data.csv'

    upload_csv_file_to_s3(bucket_name, csv_file_name, s3_key)


if __name__ == '__main__':
    main()

File worldometer_data.csv uploaded successfully to ayush-dataset-rds/csv/worldometer_data.csv as CSV.

**Fetching file from S3 Bucket**

In [59]:
bucket_name = 'ayush-dataset-rds'
s3_key = 'csv/worldometer_data.csv'

try:
    # Fetch the file from S3
    obj = s3.get_object(Bucket=bucket_name, Key=s3_key)
    csv_content = obj['Body'].read().decode('utf-8')

    # Use StringIO to treat the string as a file
    csv_string_io = StringIO(csv_content)

    df = pd.read_csv(csv_string_io)
    print("CSV content:")
    display(df)
        
except Exception as e:
    print(f"Error reading file from S3: {e}")

CSV content:

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
205,Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
206,Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
207,Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
208,Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

In [48]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Region    209 non-null    object
 1   Continent         208 non-null    object
 2   Population        208 non-null    float64
 3   TotalCases        209 non-null    int64
 4   NewCases          4 non-null      float64
 5   TotalDeaths       188 non-null    float64
 6   NewDeaths         3 non-null      float64
 7   TotalRecovered    205 non-null    float64
 8   NewRecovered      3 non-null      float64
 9   ActiveCases       205 non-null    float64
 10  Serious,Critical  122 non-null    float64
 11  Tot Cases/1M pop  208 non-null    float64
 12  Deaths/1M pop     187 non-null    float64
 13  TotalTests        191 non-null    float64
 14  Tests/1M pop      191 non-null    float64
 15  WHO Region        184 non-null    object
dtypes: float64(12), int64(1), object(3)
memory usage: 26.2+ KB

**Cleaning Data**

In [2]:
def clean_data(df):
    """
    Clean the DataFrame by filling null values with appropriate defaults,
    removing duplicates, and formatting columns.
    Parameters:
        df: DataFrame to be cleaned
    Returns:
        Cleaned DataFrame
    """
    # Fill missing values with suitable defaults
    df['Continent'].fillna('Unknown', inplace=True)
    df['Population'].fillna(0, inplace=True)  # Assuming population can't be negative
    df['TotalDeaths'].fillna(0, inplace=True)
    df['NewCases'].fillna(0, inplace=True)
    df['TotalRecovered'].fillna(0, inplace=True)
    df['NewRecovered'].fillna(0, inplace=True)
    df['ActiveCases'].fillna(0, inplace=True)
    df['Serious,Critical'].fillna(0, inplace=True)
    df['Tot Cases/1M pop'].fillna(0, inplace=True)
    df['Deaths/1M pop'].fillna(0, inplace=True)
    df['TotalTests'].fillna(0, inplace=True)
    df['Tests/1M pop'].fillna(0, inplace=True)
    df['WHO Region'].fillna('Unknown', inplace=True)

    # Convert relevant columns to numeric, coercing errors to NaN
    numeric_columns = [
        'Population', 'TotalCases', 'NewCases', 'TotalDeaths',
        'NewDeaths', 'TotalRecovered', 'NewRecovered', 'ActiveCases',
        'Serious,Critical', 'Tot Cases/1M pop', 'Deaths/1M pop',
        'TotalTests', 'Tests/1M pop'
    ]
    
    for col in numeric_columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')

    # Fill NaN values after conversion with appropriate defaults
    for col in numeric_columns:
        df[col].fillna(0, inplace=True)

    # Remove duplicates based on all columns
    df.drop_duplicates(inplace=True)

    # Reset index for cleanliness
    df.reset_index(drop=True, inplace=True)

    return df

In [3]:
df = pd.read_csv('worldometer_data.csv')

**Clean the data**

In [4]:

df_cleaned = clean_data(df)

print("Cleaned CSV content:")
display(df_cleaned)

Cleaned CSV content:

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,0.0,162804.0,0.0,2576668.0,0.0,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,0.0,98644.0,0.0,2047660.0,0.0,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,0.0,41638.0,0.0,1377384.0,0.0,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,0.0,14606.0,0.0,676357.0,0.0,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,0.0,9604.0,0.0,387316.0,0.0,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204,Montserrat,North America,4.992000e+03,13,0.0,1.0,0.0,10.0,0.0,2.0,0.0,2604.0,200.0,61.0,12220.0,Unknown
205,Caribbean Netherlands,North America,2.624700e+04,13,0.0,0.0,0.0,7.0,0.0,6.0,0.0,495.0,0.0,424.0,16154.0,Unknown
206,Falkland Islands,South America,3.489000e+03,13,0.0,0.0,0.0,13.0,0.0,0.0,0.0,3726.0,0.0,1816.0,520493.0,Unknown
207,Vatican City,Europe,8.010000e+02,12,0.0,0.0,0.0,12.0,0.0,0.0,0.0,14981.0,0.0,0.0,0.0,Europe
208,Western Sahara,Africa,5.986820e+05,10,0.0,1.0,0.0,8.0,0.0,1.0,0.0,17.0,2.0,0.0,0.0,Africa

**Connection with the RDS Database**

In [24]:
server = os.getenv('db_server')
USERNAME = os.getenv('db_username')
PASSWORD = os.getenv('db_password')


try:
    connectionString = (
        f"""DRIVER={{ODBC Driver 18 for SQL Server}};
        SERVER={server};
        UID={USERNAME};
        PWD={PASSWORD};
        TrustServerCertificate=yes;"""
    )
    connection = pyodbc.connect(connectionString, autocommit=True)
    print("Connected to the database successfully!")

except pyodbc.Error as e:
    print(f"Error connecting to database: {e}")

Connected to the database successfully!

In [25]:
cursor = connection.cursor()

**Connecting to Database**

In [28]:
try:
    db_query = "USE ayushdemo;"
    cursor.execute(db_query)
    print("Using the database")
except pyodbc.Error as e:
        print(f"Error connecting to database: {e}")

Using the database

**Creating a table**

In [32]:
def create_table(connection):
    """
    Create a table in the database to store CSV data.
    Parameters:
        connection: active database connection
    Returns:
        None
    """
    cursor = connection.cursor()
    
    create_table_query = """
    CREATE TABLE worldometer (
        CountryRegion NVARCHAR(100),
        Population FLOAT,
        TotalCases INT,
        NewCases FLOAT,
        TotalDeaths FLOAT,
        NewDeaths FLOAT,
        TotalRecovered FLOAT,
        NewRecovered FLOAT,
        ActiveCases FLOAT,
        SeriousCritical FLOAT,
        TotCasesPer1M FLOAT,
        DeathsPer1M FLOAT,
        TotalTests FLOAT,
        TestsPer1M FLOAT,
        WHORegion NVARCHAR(100)
    )
    """
    
    try:
        cursor.execute(create_table_query)
        connection.commit()
        print("Table created successfully!")
    except Exception as e:
        print(f"Error creating table: {e}")
    finally:
        cursor.close()

In [33]:
create_table(connection)

Table created successfully!

**Inserting Data**

In [34]:
def insert_data_to_db(connection, df):
    """
    Insert the cleaned DataFrame into the database table.
    Parameters:
        connection: active database connection
        df: cleaned DataFrame
    Returns:
        None
    """
    cursor = connection.cursor()
    
    # Prepare the insert query
    insert_query = """
    INSERT INTO worldometer (
        CountryRegion, Population, TotalCases, NewCases, TotalDeaths,
        NewDeaths, TotalRecovered, NewRecovered, ActiveCases, 
        SeriousCritical, TotCasesPer1M, DeathsPer1M,
        TotalTests, TestsPer1M, WHORegion
    )
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
    """

    # Execute the insert query for each row in the DataFrame
    for index, row in df.iterrows():
        cursor.execute(insert_query, 
                       row['Country/Region'], 
                       row['Population'], 
                       row['TotalCases'], 
                       row['NewCases'], 
                       row['TotalDeaths'], 
                       row['NewDeaths'], 
                       row['TotalRecovered'], 
                       row['NewRecovered'], 
                       row['ActiveCases'], 
                       row['Serious,Critical'], 
                       row['Tot Cases/1M pop'], 
                       row['Deaths/1M pop'], 
                       row['TotalTests'], 
                       row['Tests/1M pop'], 
                       row['WHO Region']
                      )

In [62]:
insert_data_to_db(connection, df_cleaned)

**Reading Data**

In [63]:
def read_data(cursor):
    select_query = "SELECT * FROM worldometer"

    cursor.execute(select_query)
    rows = cursor.fetchall()

    if rows:
        print("--------------------------------------------------------")
        for row in rows:
            print(row)
    else:
        print("No data found in the 'employees' table.")

In [64]:
read_data(cursor)

--------------------------------------------------------
('USA', 331198130.0, 5032179, 0.0, 162804.0, 0.0, 2576668.0, 0.0, 2292707.0, 18296.0, 15194.0, 492.0, 63139605.0, 190640.0, 'Americas')
('Brazil', 212710692.0, 2917562, 0.0, 98644.0, 0.0, 2047660.0, 0.0, 771258.0, 8318.0, 13716.0, 464.0, 13206188.0, 62085.0, 'Americas')
('India', 1381344997.0, 2025409, 0.0, 41638.0, 0.0, 1377384.0, 0.0, 606387.0, 8944.0, 1466.0, 30.0, 22149351.0, 16035.0, 'South-EastAsia')
('Russia', 145940924.0, 871894, 0.0, 14606.0, 0.0, 676357.0, 0.0, 180931.0, 2300.0, 5974.0, 100.0, 29716907.0, 203623.0, 'Europe')
('South Africa', 59381566.0, 538184, 0.0, 9604.0, 0.0, 387316.0, 0.0, 141264.0, 539.0, 9063.0, 162.0, 3149807.0, 53044.0, 'Africa')
('Mexico', 129066160.0, 462690, 6590.0, 50517.0, 819.0, 308848.0, 4140.0, 103325.0, 3987.0, 3585.0, 391.0, 1056915.0, 8189.0, 'Americas')
('Peru', 33016319.0, 455409, 0.0, 20424.0, 0.0, 310337.0, 0.0, 124648.0, 1426.0, 13793.0, 619.0, 2493429.0, 75521.0, 'Americas')
('Chile', 19132514.0, 366671, 0.0, 9889.0, 0.0, 340168.0, 0.0, 16614.0, 1358.0, 19165.0, 517.0, 1760615.0, 92022.0, 'Americas')
('Colombia', 50936262.0, 357710, 0.0, 11939.0, 0.0, 192355.0, 0.0, 153416.0, 1493.0, 7023.0, 234.0, 1801835.0, 35374.0, 'Americas')
('Spain', 46756648.0, 354530, 0.0, 28500.0, 0.0, 0.0, 0.0, 0.0, 617.0, 7582.0, 610.0, 7064329.0, 151087.0, 'Europe')
('Iran', 84097623.0, 320117, 0.0, 17976.0, 0.0, 277463.0, 0.0, 24678.0, 4156.0, 3806.0, 214.0, 2612763.0, 31068.0, 'EasternMediterranean')
('UK', 67922029.0, 308134, 0.0, 46413.0, 0.0, 0.0, 0.0, 0.0, 73.0, 4537.0, 683.0, 17515234.0, 257873.0, 'Europe')
('Saudi Arabia', 34865919.0, 284226, 0.0, 3055.0, 0.0, 247089.0, 0.0, 34082.0, 1915.0, 8152.0, 88.0, 3635705.0, 104277.0, 'EasternMediterranean')
('Pakistan', 221295851.0, 281863, 0.0, 6035.0, 0.0, 256058.0, 0.0, 19770.0, 809.0, 1274.0, 27.0, 2058872.0, 9304.0, 'EasternMediterranean')
('Bangladesh', 164851401.0, 249651, 0.0, 3306.0, 0.0, 143824.0, 0.0, 102521.0, 0.0, 1514.0, 20.0, 1225124.0, 7432.0, 'South-EastAsia')
('Italy', 60452568.0, 249204, 0.0, 35187.0, 0.0, 201323.0, 0.0, 12694.0, 42.0, 4122.0, 582.0, 7099713.0, 117443.0, 'Europe')
('Turkey', 84428331.0, 237265, 0.0, 5798.0, 0.0, 220546.0, 0.0, 10921.0, 580.0, 2810.0, 69.0, 5081802.0, 60191.0, 'Europe')
('Argentina', 45236884.0, 228195, 0.0, 4251.0, 0.0, 99852.0, 0.0, 124092.0, 1150.0, 5044.0, 94.0, 794544.0, 17564.0, 'Americas')
('Germany', 83811260.0, 215210, 0.0, 9252.0, 0.0, 196200.0, 0.0, 9758.0, 236.0, 2568.0, 110.0, 8586648.0, 102452.0, 'Europe')
('France', 65288306.0, 195633, 0.0, 30312.0, 0.0, 82460.0, 0.0, 82861.0, 384.0, 2996.0, 464.0, 3992206.0, 61147.0, 'Europe')
('Iraq', 40306025.0, 140603, 0.0, 5161.0, 0.0, 101025.0, 0.0, 34417.0, 517.0, 3488.0, 128.0, 1092741.0, 27111.0, 'EasternMediterranean')
('Philippines', 109722719.0, 119460, 0.0, 2150.0, 0.0, 66837.0, 0.0, 50473.0, 239.0, 1089.0, 20.0, 1669996.0, 15220.0, 'WesternPacific')
('Indonesia', 273808365.0, 118753, 0.0, 5521.0, 0.0, 75645.0, 0.0, 37587.0, 0.0, 434.0, 20.0, 1633156.0, 5965.0, 'South-EastAsia')
('Canada', 37775022.0, 118561, 0.0, 8966.0, 0.0, 103106.0, 0.0, 6489.0, 2263.0, 3139.0, 237.0, 4319172.0, 114339.0, 'Americas')
('Qatar', 2807805.0, 112092, 0.0, 178.0, 0.0, 108831.0, 0.0, 3083.0, 77.0, 39922.0, 63.0, 511000.0, 181993.0, 'EasternMediterranean')
('Kazakhstan', 18798667.0, 95942, 0.0, 1058.0, 0.0, 68871.0, 0.0, 26013.0, 221.0, 5104.0, 56.0, 2163713.0, 115099.0, 'Europe')
('Egypt', 102516525.0, 95006, 0.0, 4951.0, 0.0, 48898.0, 0.0, 41157.0, 41.0, 927.0, 48.0, 135000.0, 1317.0, 'EasternMediterranean')
('Ecuador', 17668824.0, 90537, 0.0, 5877.0, 0.0, 71318.0, 0.0, 13342.0, 378.0, 5124.0, 333.0, 258582.0, 14635.0, 'Americas')
('Bolivia', 11688459.0, 86423, 1282.0, 3465.0, 80.0, 27373.0, 936.0, 55585.0, 71.0, 7394.0, 296.0, 183583.0, 15706.0, 'Americas')
('Sweden', 10105596.0, 81967, 0.0, 5766.0, 0.0, 0.0, 0.0, 0.0, 38.0, 8111.0, 571.0, 863315.0, 85429.0, 'Europe')
('Oman', 5118446.0, 80713, 0.0, 492.0, 0.0, 70910.0, 0.0, 9311.0, 177.0, 15769.0, 96.0, 309212.0, 60411.0, 'EasternMediterranean')
('Israel', 9197590.0, 79559, 0.0, 576.0, 0.0, 53427.0, 0.0, 25556.0, 358.0, 8650.0, 63.0, 1872453.0, 203581.0, 'Europe')
('Ukraine', 43705858.0, 76808, 0.0, 1819.0, 0.0, 42524.0, 0.0, 32465.0, 158.0, 1757.0, 42.0, 1116641.0, 25549.0, 'Europe')
('Dominican Republic', 10858648.0, 76536, 0.0, 1246.0, 0.0, 40539.0, 0.0, 34751.0, 317.0, 7048.0, 115.0, 281926.0, 25963.0, 'Americas')
('Panama', 4321282.0, 71418, 0.0, 1574.0, 0.0, 45658.0, 0.0, 24186.0, 161.0, 16527.0, 364.0, 240995.0, 55769.0, 'Americas')
('Belgium', 11594739.0, 71158, 0.0, 9859.0, 0.0, 17661.0, 0.0, 43638.0, 61.0, 6137.0, 850.0, 1767120.0, 152407.0, 'Europe')
('Kuwait', 4276658.0, 70045, 0.0, 469.0, 0.0, 61610.0, 0.0, 7966.0, 127.0, 16378.0, 110.0, 522200.0, 122105.0, 'EasternMediterranean')
('Belarus', 9449001.0, 68503, 0.0, 580.0, 0.0, 63756.0, 0.0, 4167.0, 0.0, 7250.0, 61.0, 1344303.0, 142269.0, 'Europe')
('UAE', 9902079.0, 61845, 0.0, 354.0, 0.0, 55739.0, 0.0, 5752.0, 0.0, 6246.0, 36.0, 5262658.0, 531470.0, 'EasternMediterranean')
('Romania', 19224023.0, 57895, 0.0, 2566.0, 0.0, 28992.0, 0.0, 26337.0, 458.0, 3012.0, 133.0, 1319369.0, 68631.0, 'Europe')
('Netherlands', 17138756.0, 56982, 0.0, 6153.0, 0.0, 0.0, 0.0, 0.0, 37.0, 3325.0, 359.0, 1079860.0, 63007.0, 'Europe')
('Singapore', 5854932.0, 54555, 0.0, 27.0, 0.0, 48031.0, 0.0, 6497.0, 0.0, 9318.0, 5.0, 1474372.0, 251817.0, 'WesternPacific')
('Guatemala', 17946899.0, 54339, 0.0, 2119.0, 0.0, 42070.0, 0.0, 10150.0, 5.0, 3028.0, 118.0, 172712.0, 9624.0, 'Americas')
('Portugal', 10193593.0, 52061, 0.0, 1743.0, 0.0, 37840.0, 0.0, 12478.0, 42.0, 5107.0, 171.0, 1705474.0, 167308.0, 'Europe')
('Poland', 37842302.0, 49515, 0.0, 1774.0, 0.0, 35642.0, 0.0, 12099.0, 72.0, 1308.0, 47.0, 2374686.0, 62752.0, 'Europe')
('Nigeria', 206606300.0, 45244, 0.0, 930.0, 0.0, 32430.0, 0.0, 11884.0, 7.0, 219.0, 5.0, 306894.0, 1485.0, 'Africa')
('Honduras', 9919704.0, 45098, 0.0, 1423.0, 0.0, 6116.0, 0.0, 37559.0, 52.0, 4546.0, 143.0, 109292.0, 11018.0, 'Americas')
('Bahrain', 1706669.0, 42889, 0.0, 156.0, 0.0, 39945.0, 0.0, 2788.0, 41.0, 25130.0, 91.0, 876700.0, 513691.0, 'EasternMediterranean')
('Japan', 126435859.0, 42263, 0.0, 1026.0, 0.0, 28877.0, 0.0, 12360.0, 115.0, 334.0, 8.0, 938739.0, 7425.0, 'WesternPacific')
('Armenia', 2963811.0, 39819, 0.0, 772.0, 0.0, 31556.0, 0.0, 7491.0, 0.0, 13435.0, 260.0, 171600.0, 57898.0, 'Europe')
('Ghana', 31133483.0, 39642, 0.0, 199.0, 0.0, 36384.0, 0.0, 3059.0, 7.0, 1273.0, 6.0, 405817.0, 13035.0, 'Africa')
('Kyrgyzstan', 6534479.0, 38659, 0.0, 1447.0, 0.0, 30099.0, 0.0, 7113.0, 24.0, 5916.0, 221.0, 267718.0, 40970.0, 'Europe')
('Afghanistan', 39009447.0, 36896, 0.0, 1298.0, 0.0, 25840.0, 0.0, 9758.0, 31.0, 946.0, 33.0, 90396.0, 2317.0, 'EasternMediterranean')
('Switzerland', 8660952.0, 36108, 0.0, 1985.0, 0.0, 31600.0, 0.0, 2523.0, 23.0, 4169.0, 229.0, 822764.0, 94997.0, 'Europe')
('Algeria', 43926079.0, 33626, 0.0, 1273.0, 0.0, 23238.0, 0.0, 9115.0, 57.0, 766.0, 29.0, 0.0, 0.0, 'Africa')
('Azerbaijan', 10148243.0, 33247, 0.0, 479.0, 0.0, 29275.0, 0.0, 3493.0, 66.0, 3276.0, 47.0, 766179.0, 75499.0, 'Europe')
('Morocco', 36953359.0, 29644, 0.0, 449.0, 0.0, 20553.0, 0.0, 8642.0, 31.0, 802.0, 12.0, 1383816.0, 37448.0, 'EasternMediterranean')
('Uzbekistan', 33516027.0, 28315, 0.0, 175.0, 0.0, 19291.0, 0.0, 8849.0, 228.0, 845.0, 5.0, 1377915.0, 41112.0, 'Europe')
('Serbia', 8733665.0, 27332, 0.0, 621.0, 0.0, 14047.0, 0.0, 12664.0, 120.0, 3129.0, 71.0, 723137.0, 82799.0, 'Europe')
('Moldova', 4032983.0, 26628, 0.0, 828.0, 0.0, 18676.0, 0.0, 7124.0, 362.0, 6603.0, 205.0, 128076.0, 31757.0, 'Europe')
('Ireland', 4943200.0, 26372, 0.0, 1768.0, 0.0, 23364.0, 0.0, 1240.0, 5.0, 5335.0, 358.0, 652917.0, 132084.0, 'Europe')
('Kenya', 53881160.0, 24411, 0.0, 399.0, 0.0, 10444.0, 0.0, 13568.0, 44.0, 453.0, 7.0, 335318.0, 6223.0, 'Africa')
('Venezuela', 28427499.0, 22299, 0.0, 195.0, 0.0, 12146.0, 0.0, 9958.0, 42.0, 784.0, 7.0, 1567431.0, 55138.0, 'Americas')
('Nepal', 29186486.0, 21750, 0.0, 65.0, 0.0, 15389.0, 0.0, 6296.0, 0.0, 745.0, 2.0, 731977.0, 25079.0, 'South-EastAsia')
('Austria', 9011577.0, 21696, 0.0, 719.0, 0.0, 19596.0, 0.0, 1381.0, 25.0, 2408.0, 80.0, 937275.0, 104008.0, 'Europe')
('Costa Rica', 5098730.0, 21070, 0.0, 200.0, 0.0, 7038.0, 0.0, 13832.0, 103.0, 4132.0, 39.0, 96110.0, 18850.0, 'Americas')
('Ethiopia', 115223736.0, 20900, 0.0, 365.0, 0.0, 9027.0, 0.0, 11508.0, 185.0, 181.0, 3.0, 468814.0, 4069.0, 'Africa')
('Australia', 25528864.0, 19890, 0.0, 255.0, 0.0, 10941.0, 0.0, 8694.0, 52.0, 779.0, 10.0, 4631419.0, 181419.0, 'WesternPacific')
('El Salvador', 6489514.0, 19126, 0.0, 513.0, 0.0, 9236.0, 0.0, 9377.0, 509.0, 2947.0, 79.0, 251271.0, 38720.0, 'Americas')
('Czechia', 10711019.0, 17731, 0.0, 390.0, 0.0, 12320.0, 0.0, 5021.0, 17.0, 1655.0, 36.0, 728670.0, 68030.0, 'Europe')
('Cameroon', 26606188.0, 17718, 0.0, 391.0, 0.0, 15320.0, 0.0, 2007.0, 30.0, 666.0, 15.0, 149000.0, 5600.0, 'Africa')
('Ivory Coast', 26437950.0, 16447, 0.0, 103.0, 0.0, 12484.0, 0.0, 3860.0, 0.0, 622.0, 4.0, 104584.0, 3956.0, 'Africa')
('S. Korea', 51273732.0, 14519, 20.0, 303.0, 1.0, 13543.0, 42.0, 673.0, 18.0, 283.0, 6.0, 1613652.0, 31471.0, 'WesternPacific')
('Denmark', 5794279.0, 14306, 0.0, 617.0, 0.0, 12787.0, 0.0, 902.0, 2.0, 2469.0, 106.0, 1654512.0, 285542.0, 'Europe')
('Palestine', 5112340.0, 13398, 0.0, 92.0, 0.0, 6907.0, 0.0, 6399.0, 0.0, 2621.0, 18.0, 200280.0, 39176.0, 'EasternMediterranean')
('Bosnia and Herzegovina', 3278650.0, 13396, 0.0, 384.0, 0.0, 7042.0, 0.0, 5970.0, 0.0, 4086.0, 117.0, 147021.0, 44842.0, 'Europe')
('Bulgaria', 6942854.0, 13014, 0.0, 435.0, 0.0, 7374.0, 0.0, 5205.0, 47.0, 1874.0, 63.0, 294087.0, 42358.0, 'Europe')
('Madagascar', 27755708.0, 12526, 0.0, 134.0, 0.0, 10148.0, 0.0, 2244.0, 88.0, 451.0, 5.0, 46301.0, 1668.0, 'Africa')
('Sudan', 43943536.0, 11780, 0.0, 763.0, 0.0, 6194.0, 0.0, 4823.0, 0.0, 268.0, 17.0, 401.0, 9.0, 'EasternMediterranean')
('North Macedonia', 2083365.0, 11399, 0.0, 517.0, 0.0, 7480.0, 0.0, 3402.0, 3.0, 5471.0, 248.0, 109946.0, 52773.0, 'Europe')
('Senegal', 16783877.0, 10715, 0.0, 223.0, 0.0, 7101.0, 0.0, 3391.0, 33.0, 638.0, 13.0, 114761.0, 6838.0, 'Africa')
('Norway', 5425471.0, 9468, 0.0, 256.0, 0.0, 8857.0, 0.0, 355.0, 3.0, 1745.0, 47.0, 472841.0, 87152.0, 'Europe')
('DRC', 89802183.0, 9309, 0.0, 215.0, 0.0, 8048.0, 0.0, 1046.0, 0.0, 104.0, 2.0, 0.0, 0.0, 'Africa')
('Malaysia', 32406372.0, 9038, 0.0, 125.0, 0.0, 8713.0, 0.0, 200.0, 2.0, 279.0, 4.0, 991333.0, 30591.0, 'WesternPacific')
('French Guiana', 299385.0, 8127, 0.0, 47.0, 0.0, 7240.0, 0.0, 840.0, 23.0, 27146.0, 157.0, 41412.0, 138324.0, 'Unknown')
('Gabon', 2230563.0, 7787, 0.0, 51.0, 0.0, 5609.0, 0.0, 2127.0, 11.0, 3491.0, 23.0, 85369.0, 38272.0, 'Africa')
('Tajikistan', 9557468.0, 7665, 0.0, 62.0, 0.0, 6443.0, 0.0, 1160.0, 0.0, 802.0, 6.0, 0.0, 0.0, 'Europe')
('Guinea', 13164905.0, 7664, 0.0, 49.0, 0.0, 6757.0, 0.0, 858.0, 24.0, 582.0, 4.0, 14407.0, 1094.0, 'Africa')
('Haiti', 11416103.0, 7544, 0.0, 171.0, 0.0, 4832.0, 0.0, 2541.0, 0.0, 661.0, 15.0, 18443.0, 1616.0, 'Americas')
('Finland', 5541604.0, 7532, 0.0, 331.0, 0.0, 6980.0, 0.0, 221.0, 0.0, 1359.0, 60.0, 389500.0, 70287.0, 'Europe')
('Zambia', 18430129.0, 7164, 0.0, 199.0, 0.0, 5786.0, 0.0, 1179.0, 0.0, 389.0, 11.0, 90307.0, 4900.0, 'Africa')
('Luxembourg', 626952.0, 7073, 0.0, 119.0, 0.0, 5750.0, 0.0, 1204.0, 9.0, 11282.0, 190.0, 623994.0, 995282.0, 'Europe')
('Mauritania', 4660728.0, 6444, 0.0, 157.0, 0.0, 5291.0, 0.0, 996.0, 3.0, 1383.0, 34.0, 57387.0, 12313.0, 'Africa')
('Paraguay', 7141091.0, 6375, 0.0, 66.0, 0.0, 4974.0, 0.0, 1335.0, 23.0, 893.0, 9.0, 135277.0, 18943.0, 'Americas')
('Albania', 2877470.0, 6016, 0.0, 188.0, 0.0, 3155.0, 0.0, 2673.0, 23.0, 2091.0, 65.0, 38997.0, 13553.0, 'Europe')
('Lebanon', 6822220.0, 5672, 0.0, 70.0, 0.0, 1974.0, 0.0, 3628.0, 46.0, 831.0, 10.0, 345268.0, 50609.0, 'EasternMediterranean')
('Croatia', 4102577.0, 5404, 0.0, 155.0, 0.0, 4688.0, 0.0, 561.0, 7.0, 1317.0, 38.0, 125317.0, 30546.0, 'Europe')
('Djibouti', 989387.0, 5330, 0.0, 59.0, 0.0, 5057.0, 0.0, 214.0, 0.0, 5387.0, 60.0, 59909.0, 60552.0, 'EasternMediterranean')
('Greece', 10417673.0, 5123, 0.0, 210.0, 0.0, 1374.0, 0.0, 3539.0, 14.0, 492.0, 20.0, 619393.0, 59456.0, 'Europe')
('Libya', 6880353.0, 4879, 0.0, 107.0, 0.0, 652.0, 0.0, 4120.0, 0.0, 709.0, 16.0, 59699.0, 8677.0, 'EasternMediterranean')
('Equatorial Guinea', 1407001.0, 4821, 0.0, 83.0, 0.0, 2182.0, 0.0, 2556.0, 0.0, 3426.0, 59.0, 44356.0, 31525.0, 'Africa')
('Maldives', 541448.0, 4680, 0.0, 19.0, 0.0, 2725.0, 0.0, 1936.0, 12.0, 8643.0, 35.0, 85587.0, 158071.0, 'South-EastAsia')
('CAR', 4837752.0, 4620, 0.0, 59.0, 0.0, 1641.0, 0.0, 2920.0, 2.0, 955.0, 12.0, 29589.0, 6116.0, 'Unknown')
('Hungary', 9657785.0, 4597, 0.0, 600.0, 0.0, 3463.0, 0.0, 534.0, 8.0, 476.0, 62.0, 352546.0, 36504.0, 'Europe')
('Malawi', 19174839.0, 4491, 0.0, 137.0, 0.0, 2137.0, 0.0, 2217.0, 4.0, 234.0, 7.0, 33466.0, 1745.0, 'Africa')
('Zimbabwe', 14883803.0, 4339, 0.0, 84.0, 0.0, 1264.0, 0.0, 2991.0, 0.0, 292.0, 6.0, 140421.0, 9434.0, 'Africa')
('Nicaragua', 6632263.0, 3902, 0.0, 123.0, 0.0, 2913.0, 0.0, 866.0, 0.0, 588.0, 19.0, 0.0, 0.0, 'Americas')
('Hong Kong', 7503041.0, 3850, 0.0, 46.0, 0.0, 2458.0, 0.0, 1346.0, 39.0, 513.0, 6.0, 692430.0, 92287.0, 'WesternPacific')
('Congo', 5530506.0, 3546, 0.0, 58.0, 0.0, 1589.0, 0.0, 1899.0, 0.0, 641.0, 10.0, 0.0, 0.0, 'Africa')
('Montenegro', 628074.0, 3480, 0.0, 60.0, 0.0, 2178.0, 0.0, 1242.0, 0.0, 5541.0, 96.0, 38427.0, 61182.0, 'Europe')
('Thailand', 69817894.0, 3330, 0.0, 58.0, 0.0, 3148.0, 0.0, 124.0, 1.0, 48.0, 0.8, 749213.0, 10731.0, 'South-EastAsia')
('Somalia', 15933012.0, 3227, 0.0, 93.0, 0.0, 1728.0, 0.0, 1406.0, 2.0, 203.0, 6.0, 0.0, 0.0, 'EasternMediterranean')
('Mayotte', 273419.0, 3042, 0.0, 39.0, 0.0, 2738.0, 0.0, 265.0, 2.0, 11126.0, 143.0, 13000.0, 47546.0, 'Unknown')
('Eswatini', 1161348.0, 2968, 0.0, 55.0, 0.0, 1476.0, 0.0, 1437.0, 5.0, 2556.0, 47.0, 20784.0, 17896.0, 'Africa')
('Sri Lanka', 21422362.0, 2839, 0.0, 11.0, 0.0, 2541.0, 0.0, 287.0, 1.0, 133.0, 0.5, 166737.0, 7783.0, 'South-EastAsia')
('Cuba', 11325899.0, 2775, 0.0, 88.0, 0.0, 2409.0, 0.0, 278.0, 4.0, 245.0, 8.0, 285471.0, 25205.0, 'Americas')
('Cabo Verde', 556581.0, 2734, 0.0, 27.0, 0.0, 2010.0, 0.0, 697.0, 0.0, 4912.0, 49.0, 61633.0, 110735.0, 'Africa')
('Namibia', 2545264.0, 2652, 0.0, 15.0, 0.0, 563.0, 0.0, 2074.0, 24.0, 1042.0, 6.0, 29233.0, 11485.0, 'Africa')
('Mali', 20302901.0, 2552, 0.0, 124.0, 0.0, 1954.0, 0.0, 474.0, 0.0, 126.0, 6.0, 25152.0, 1239.0, 'Africa')
('Slovakia', 5459915.0, 2480, 0.0, 29.0, 0.0, 1824.0, 0.0, 627.0, 2.0, 454.0, 5.0, 272322.0, 49877.0, 'Europe')
('South Sudan', 11206572.0, 2450, 0.0, 47.0, 0.0, 1175.0, 0.0, 1228.0, 0.0, 219.0, 4.0, 12044.0, 1075.0, 'Africa')
('Slovenia', 2078968.0, 2223, 0.0, 125.0, 0.0, 1909.0, 0.0, 189.0, 2.0, 1069.0, 60.0, 135702.0, 65274.0, 'Europe')
('Lithuania', 2718121.0, 2171, 0.0, 81.0, 0.0, 1656.0, 0.0, 434.0, 6.0, 799.0, 30.0, 540784.0, 198955.0, 'Europe')
('Estonia', 1326627.0, 2124, 0.0, 63.0, 0.0, 1954.0, 0.0, 107.0, 0.0, 1601.0, 47.0, 122880.0, 92626.0, 'Europe')
('Mozambique', 31333962.0, 2120, 0.0, 15.0, 0.0, 795.0, 0.0, 1310.0, 0.0, 68.0, 0.5, 65151.0, 2079.0, 'Africa')
('Rwanda', 12981546.0, 2111, 0.0, 5.0, 0.0, 1258.0, 0.0, 848.0, 0.0, 163.0, 0.4, 286251.0, 22051.0, 'Africa')
('Suriname', 587154.0, 2096, 0.0, 29.0, 0.0, 1446.0, 0.0, 621.0, 9.0, 3570.0, 49.0, 2785.0, 4743.0, 'Americas')
('Guinea-Bissau', 1972277.0, 2032, 0.0, 27.0, 0.0, 944.0, 0.0, 1061.0, 5.0, 1030.0, 14.0, 1500.0, 761.0, 'Africa')
('Benin', 12151976.0, 1936, 0.0, 38.0, 0.0, 1600.0, 0.0, 298.0, 1.0, 159.0, 3.0, 93677.0, 7709.0, 'Africa')
('Iceland', 341465.0, 1930, 0.0, 10.0, 0.0, 1825.0, 0.0, 95.0, 0.0, 5652.0, 29.0, 149693.0, 438385.0, 'Europe')
('Sierra Leone', 7992169.0, 1877, 0.0, 67.0, 0.0, 1427.0, 0.0, 383.0, 0.0, 235.0, 8.0, 0.0, 0.0, 'Africa')
('Yemen', 29886897.0, 1768, 0.0, 508.0, 0.0, 898.0, 0.0, 362.0, 0.0, 59.0, 17.0, 120.0, 4.0, 'EasternMediterranean')
('Tunisia', 11830801.0, 1642, 0.0, 51.0, 0.0, 1241.0, 0.0, 350.0, 9.0, 139.0, 4.0, 100298.0, 8478.0, 'EasternMediterranean')
('New Zealand', 5002100.0, 1569, 0.0, 22.0, 0.0, 1524.0, 0.0, 23.0, 0.0, 314.0, 4.0, 486943.0, 97348.0, 'WesternPacific')
('Angola', 32956300.0, 1483, 0.0, 64.0, 0.0, 520.0, 0.0, 899.0, 20.0, 45.0, 2.0, 64747.0, 1965.0, 'Africa')
('Uruguay', 3474956.0, 1318, 0.0, 37.0, 0.0, 1079.0, 0.0, 202.0, 2.0, 379.0, 11.0, 126956.0, 36535.0, 'Americas')
('Latvia', 1883936.0, 1275, 0.0, 32.0, 0.0, 1070.0, 0.0, 173.0, 0.0, 677.0, 17.0, 207909.0, 110359.0, 'Europe')
('Jordan', 10213138.0, 1232, 0.0, 11.0, 0.0, 1171.0, 0.0, 50.0, 3.0, 121.0, 1.0, 628745.0, 61562.0, 'EasternMediterranean')
('Liberia', 5068618.0, 1224, 0.0, 78.0, 0.0, 705.0, 0.0, 441.0, 0.0, 241.0, 15.0, 0.0, 0.0, 'Africa')
('Uganda', 45867852.0, 1223, 0.0, 5.0, 0.0, 1102.0, 0.0, 116.0, 0.0, 27.0, 0.1, 288367.0, 6287.0, 'Africa')
('Cyprus', 1208238.0, 1208, 0.0, 19.0, 0.0, 856.0, 0.0, 333.0, 0.0, 1000.0, 16.0, 216597.0, 179267.0, 'Europe')
('Georgia', 3988368.0, 1206, 0.0, 17.0, 0.0, 987.0, 0.0, 202.0, 0.0, 302.0, 4.0, 240473.0, 60294.0, 'Europe')
('Burkina Faso', 20954852.0, 1158, 0.0, 54.0, 0.0, 961.0, 0.0, 143.0, 0.0, 55.0, 3.0, 0.0, 0.0, 'Africa')
('Niger', 24281433.0, 1153, 0.0, 69.0, 0.0, 1057.0, 0.0, 27.0, 0.0, 47.0, 3.0, 9052.0, 373.0, 'Africa')
('Togo', 8296582.0, 1012, 0.0, 22.0, 0.0, 697.0, 0.0, 293.0, 2.0, 122.0, 3.0, 45767.0, 5516.0, 'Africa')
('Syria', 17539600.0, 999, 0.0, 48.0, 0.0, 311.0, 0.0, 640.0, 0.0, 57.0, 3.0, 0.0, 0.0, 'EasternMediterranean')
('Jamaica', 2962478.0, 958, 30.0, 12.0, 0.0, 745.0, 0.0, 201.0, 0.0, 323.0, 4.0, 41840.0, 14123.0, 'Americas')
('Malta', 441663.0, 946, 0.0, 9.0, 0.0, 670.0, 0.0, 267.0, 0.0, 2142.0, 20.0, 136713.0, 309541.0, 'Europe')
('Andorra', 77278.0, 944, 0.0, 52.0, 0.0, 828.0, 0.0, 64.0, 1.0, 12216.0, 673.0, 3750.0, 48526.0, 'Europe')
('Chad', 16467965.0, 942, 0.0, 76.0, 0.0, 838.0, 0.0, 28.0, 0.0, 57.0, 5.0, 0.0, 0.0, 'Africa')
('Gambia', 2422754.0, 935, 0.0, 16.0, 0.0, 136.0, 0.0, 783.0, 0.0, 386.0, 7.0, 5183.0, 2139.0, 'Africa')
('Sao Tome and Principe', 219544.0, 878, 0.0, 15.0, 0.0, 797.0, 0.0, 66.0, 0.0, 3999.0, 68.0, 3079.0, 14025.0, 'Africa')
('Botswana', 2356075.0, 804, 0.0, 2.0, 0.0, 63.0, 0.0, 739.0, 1.0, 341.0, 0.8, 68423.0, 29041.0, 'Africa')
('Bahamas', 393616.0, 761, 0.0, 14.0, 0.0, 91.0, 0.0, 656.0, 1.0, 1933.0, 36.0, 4814.0, 12230.0, 'Americas')
('Vietnam', 97425470.0, 747, 0.0, 10.0, 0.0, 392.0, 0.0, 345.0, 0.0, 8.0, 0.1, 482456.0, 4952.0, 'WesternPacific')
('Lesotho', 2143943.0, 742, 0.0, 23.0, 0.0, 175.0, 0.0, 544.0, 0.0, 346.0, 11.0, 8771.0, 4091.0, 'Africa')
('Diamond Princess', 0.0, 712, 0.0, 13.0, 0.0, 651.0, 0.0, 48.0, 4.0, 0.0, 0.0, 0.0, 0.0, 'Unknown')
('San Marino', 33938.0, 699, 0.0, 42.0, 0.0, 657.0, 0.0, 0.0, 0.0, 20596.0, 1238.0, 6068.0, 178797.0, 'Europe')
('Réunion', 895952.0, 671, 0.0, 5.0, 0.0, 592.0, 0.0, 74.0, 3.0, 749.0, 6.0, 35419.0, 39532.0, 'Unknown')
('Channel Islands', 174022.0, 597, 0.0, 47.0, 0.0, 533.0, 0.0, 17.0, 0.0, 3431.0, 270.0, 30721.0, 176535.0, 'Unknown')
('Guyana', 786936.0, 538, 0.0, 22.0, 0.0, 189.0, 0.0, 327.0, 2.0, 684.0, 28.0, 5165.0, 6563.0, 'Americas')
('Tanzania', 59886383.0, 509, 0.0, 21.0, 0.0, 183.0, 0.0, 305.0, 7.0, 8.0, 0.4, 0.0, 0.0, 'Africa')
('Taiwan', 23821199.0, 477, 0.0, 7.0, 0.0, 443.0, 0.0, 27.0, 0.0, 20.0, 0.3, 82737.0, 3473.0, 'WesternPacific')
('Comoros', 871326.0, 396, 0.0, 7.0, 0.0, 340.0, 0.0, 49.0, 0.0, 454.0, 8.0, 0.0, 0.0, 'Africa')
('Burundi', 11922216.0, 395, 0.0, 1.0, 0.0, 304.0, 0.0, 90.0, 0.0, 33.0, 0.08, 15614.0, 1310.0, 'Africa')
('Myanmar', 54446389.0, 357, 0.0, 6.0, 0.0, 308.0, 0.0, 43.0, 0.0, 7.0, 0.1, 122290.0, 2246.0, 'South-EastAsia')
('Mauritius', 1271985.0, 344, 0.0, 10.0, 0.0, 334.0, 0.0, 0.0, 0.0, 270.0, 8.0, 205285.0, 161389.0, 'Africa')

**Performing Queries**

In [66]:
query1 = """
SELECT 
    SUM(CAST(Population AS BIGINT)) AS Global_Population,
    SUM(TotalCases) AS TotalCases,
    (((SUM(TotalCases) * 100.0)/ SUM(CAST(Population AS BIGINT)))) AS Global_Infection_Rate
FROM 
    worldometer;

"""

cursor.execute(query1)
rows = cursor.fetchall()

# Display the results in a readable format
for row in rows:
    print(f"Global Population: {row.Global_Population}, Total Cases: {row.TotalCases}, Global Infection Rate: {row.Global_Infection_Rate:.2f}%")

Global Population: 6326421290, Total Cases: 19169166, Global Infection Rate: 0.30%

In [73]:
query2 = """
SELECT 
    CountryRegion, 
    SUM(TotalDeaths) AS Total_Continent_Deaths
FROM worldometer
GROUP BY CountryRegion
ORDER BY Total_Continent_Deaths DESC;
"""

print("\nCountries with the highest infection rates:")
cursor.execute(query2)
rows = cursor.fetchall()

for row in rows:
    print(row)

Countries with the highest infection rates:
('USA', 162804.0)
('Brazil', 98644.0)
('Mexico', 50517.0)
('UK', 46413.0)
('India', 41638.0)
('Italy', 35187.0)
('France', 30312.0)
('Spain', 28500.0)
('Peru', 20424.0)
('Iran', 17976.0)
('Russia', 14606.0)
('Colombia', 11939.0)
('Chile', 9889.0)
('Belgium', 9859.0)
('South Africa', 9604.0)
('Germany', 9252.0)
('Canada', 8966.0)
('Netherlands', 6153.0)
('Pakistan', 6035.0)
('Ecuador', 5877.0)
('Turkey', 5798.0)
('Sweden', 5766.0)
('Indonesia', 5521.0)
('Iraq', 5161.0)
('Egypt', 4951.0)
('Argentina', 4251.0)
('Bolivia', 3465.0)
('Bangladesh', 3306.0)
('Saudi Arabia', 3055.0)
('Romania', 2566.0)
('Philippines', 2150.0)
('Guatemala', 2119.0)
('Switzerland', 1985.0)
('Ukraine', 1819.0)
('Poland', 1774.0)
('Ireland', 1768.0)
('Portugal', 1743.0)
('Panama', 1574.0)
('Kyrgyzstan', 1447.0)
('Honduras', 1423.0)
('Afghanistan', 1298.0)
('Algeria', 1273.0)
('Dominican Republic', 1246.0)
('Kazakhstan', 1058.0)
('Japan', 1026.0)
('Nigeria', 930.0)
('Moldova', 828.0)
('Armenia', 772.0)
('Sudan', 763.0)
('Austria', 719.0)
('Serbia', 621.0)
('Denmark', 617.0)
('Hungary', 600.0)
('Belarus', 580.0)
('Israel', 576.0)
('North Macedonia', 517.0)
('El Salvador', 513.0)
('Yemen', 508.0)
('Oman', 492.0)
('Azerbaijan', 479.0)
('Kuwait', 469.0)
('Morocco', 449.0)
('Bulgaria', 435.0)
('Kenya', 399.0)
('Cameroon', 391.0)
('Czechia', 390.0)
('Bosnia and Herzegovina', 384.0)
('Ethiopia', 365.0)
('UAE', 354.0)
('Finland', 331.0)
('S. Korea', 303.0)
('Norway', 256.0)
('Australia', 255.0)
('Senegal', 223.0)
('DRC', 215.0)
('Greece', 210.0)
('Costa Rica', 200.0)
('Ghana', 199.0)
('Zambia', 199.0)
('Venezuela', 195.0)
('Albania', 188.0)
('Qatar', 178.0)
('Uzbekistan', 175.0)
('Haiti', 171.0)
('Mauritania', 157.0)
('Bahrain', 156.0)
('Croatia', 155.0)
('Malawi', 137.0)
('Madagascar', 134.0)
('Malaysia', 125.0)
('Slovenia', 125.0)
('Mali', 124.0)
('Nicaragua', 123.0)
('Luxembourg', 119.0)
('Libya', 107.0)
('Ivory Coast', 103.0)
('Somalia', 93.0)
('Palestine', 92.0)
('Cuba', 88.0)
('Zimbabwe', 84.0)
('Equatorial Guinea', 83.0)
('Lithuania', 81.0)
('Liberia', 78.0)
('Chad', 76.0)
('Lebanon', 70.0)
('Niger', 69.0)
('Sierra Leone', 67.0)
('Paraguay', 66.0)
('Nepal', 65.0)
('Angola', 64.0)
('Estonia', 63.0)
('Tajikistan', 62.0)
('Montenegro', 60.0)
('Djibouti', 59.0)
('CAR', 59.0)
('Congo', 58.0)
('Thailand', 58.0)
('Eswatini', 55.0)
('Burkina Faso', 54.0)
('Andorra', 52.0)
('Gabon', 51.0)
('Tunisia', 51.0)
('Guinea', 49.0)
('Syria', 48.0)
('South Sudan', 47.0)
('French Guiana', 47.0)
('Channel Islands', 47.0)
('Hong Kong', 46.0)
('San Marino', 42.0)
('Mayotte', 39.0)
('Benin', 38.0)
('Uruguay', 37.0)
('Latvia', 32.0)
('Suriname', 29.0)
('Slovakia', 29.0)
('Singapore', 27.0)
('Guinea-Bissau', 27.0)
('Cabo Verde', 27.0)
('Isle of Man', 24.0)
('Lesotho', 23.0)
('Guyana', 22.0)
('New Zealand', 22.0)
('Togo', 22.0)
('Tanzania', 21.0)
('Maldives', 19.0)
('Cyprus', 19.0)
('Georgia', 17.0)
('Gambia', 16.0)
('Sint Maarten', 16.0)
('Sao Tome and Principe', 15.0)
('Martinique', 15.0)
('Mozambique', 15.0)
('Namibia', 15.0)
('Guadeloupe', 14.0)
('Bahamas', 14.0)
('Diamond Princess', 13.0)
('Jamaica', 12.0)
('Jordan', 11.0)
('Sri Lanka', 11.0)
('Vietnam', 10.0)
('Iceland', 10.0)
('Mauritius', 10.0)
('Malta', 9.0)
('Bermuda', 9.0)
('Trinidad and Tobago', 8.0)
('Taiwan', 7.0)
('Barbados', 7.0)
('Comoros', 7.0)
('Myanmar', 6.0)
('Uganda', 5.0)
('Réunion', 5.0)
('Rwanda', 5.0)
('Monaco', 4.0)
('Antigua and Barbuda', 3.0)
('Aruba', 3.0)
('Brunei ', 3.0)
('Papua New Guinea', 3.0)
('Saint Martin', 3.0)
('Turks and Caicos', 2.0)
('Botswana', 2.0)
('Belize', 2.0)
('Burundi', 1.0)
('Cayman Islands', 1.0)
('Curaçao', 1.0)
('Fiji', 1.0)
('Montserrat', 1.0)
('Liechtenstein', 1.0)
('Western Sahara', 1.0)
('Vatican City', 0.0)
('Timor-Leste', 0.0)
('St. Vincent Grenadines', 0.0)
('Seychelles', 0.0)
('Saint Kitts and Nevis', 0.0)
('Saint Lucia', 0.0)
('Macao', 0.0)
('Mongolia', 0.0)
('New Caledonia', 0.0)
('Gibraltar', 0.0)
('Greenland', 0.0)
('Grenada', 0.0)
('Laos', 0.0)
('French Polynesia', 0.0)
('Faeroe Islands', 0.0)
('Falkland Islands', 0.0)
('Eritrea', 0.0)
('Dominica', 0.0)
('Bhutan', 0.0)
('Cambodia', 0.0)
('Caribbean Netherlands', 0.0)

**Exporting query output to csv**

In [74]:
# Read data into a DataFrame
new_df= pd.read_sql(query2, connection)

# Export DataFrame to CSV
new_df.to_csv('rds_query_data.csv', index=False)
print("rds_query_data.csv")

rds_query_data.csv

/tmp/ipykernel_14680/1669932501.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  new_df= pd.read_sql(query2, connection)

**Saving the cleaned dataset for future use**

In [8]:
df_cleaned.to_csv('worldometer_data_cleaned.csv', index=True)

In [9]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Region    209 non-null    object
 1   Continent         209 non-null    object
 2   Population        209 non-null    float64
 3   TotalCases        209 non-null    int64
 4   NewCases          209 non-null    float64
 5   TotalDeaths       209 non-null    float64
 6   NewDeaths         209 non-null    float64
 7   TotalRecovered    209 non-null    float64
 8   NewRecovered      209 non-null    float64
 9   ActiveCases       209 non-null    float64
 10  Serious,Critical  209 non-null    float64
 11  Tot Cases/1M pop  209 non-null    float64
 12  Deaths/1M pop     209 non-null    float64
 13  TotalTests        209 non-null    float64
 14  Tests/1M pop      209 non-null    float64
 15  WHO Region        209 non-null    object
dtypes: float64(12), int64(1), object(3)
memory usage: 26.2+ KB